/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 oct 2023, 23:49:18
    Author     : jitor
*/

#paneMenu {
    
    -fx-background-color: #393E46;
     -fx-background-radius: 50px;
    
}